.social {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.social button {
    display: inline-block;
    overflow: hidden;
    margin-right: 4px;
    width: 18%;
    height: 100%;
    max-width: 30%;
}

.social button a img {
    width: 20%;
    height: auto;
    display: block;
}