.social {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.social button {
    display: inline-block;
    overflow: hidden;
    margin-right: 4px;
    width: 3%;
    height: 70%;
    max-width: 30%;
    border-radius: 20%;
    box-shadow: 0px 0px 10px #d36147;
}

.social button a img {
    width: 90%;
    height: auto;
    display: block;
    margin: auto;
}

@media screen and (max-width: 1100px) {
    .social button {
        width: 5%;
    }

    .social button a img {
        margin: auto;
    }
}

@media screen and (max-width: 576px) {
    .social button {
        width: 10%;
        height: 60%;
    }
}